<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CollegeKart</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />

    <!--// css -->
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src=" {% static 'js/jquery-1.11.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
</head>

<body>
    <div class="header-top-w3layouts">
        <div class="container">
            <div class="col-md-6 logo-w3">
                <a href="\"><img src="{% static 'images/logo2.png' %}" alt=" " />
                    <h1>COLLEGE<span>KART</span></h1>
                </a>
            </div>
            <div class="col-md-6 phone-w3l">
                <ul>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                    <li>+18045403380</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="contact">
        <div class="container">

            <div class="col-md-3 col-sm-3 contact-left">
                <div class="address">
                    <h4>ADDRESS</h4>
                    <h5>IIT Girls Hostel</h5>
                    <h5>IIT BHU (Varanasi)</h5>
                </div>
                <div class="phone">
                    <h4>PHONE</h4>
                    <h5>9075643282</h5>
                    <h5>8239277290</h5>
                </div>
                <div class="email">
                    <h4>EMAIL</h4>
                    <h5><a href="mailto:info@example.com">kennypatel@gmail.com</a></h5>
                    <h5><a href="mailto:info@example.com">niranshi04@gmail.com</a></h5>
                </div>
            </div>

            <div class="main-agileits">
                <div class="form-w3agile">
                    <h3>Contact Us</h3>
                    <form action="contact" method="post">
                        {% csrf_token %}
                        <div class="key">
                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                            <input type="text" name="first_name" required="" placeholder="first name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-forumbee" aria-hidden="true"></i>
                            <input type="text" name="last_name" required="" placeholder="last name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="subject" required="" placeholder="Subject">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="text" name="username" required="" placeholder="Username">
                            <div class="clearfix"></div>
                        </div>
                        <textarea name="message" placeholder="Your message" required=" "></textarea>
                        <input type="submit" value="Send Message">
                    </form>
                </div>


                <!-- <form action="#" method="post">
                    <input type="text" name="your name" placeholder="Your name" required=" ">
                    <input type="text" name="your email" placeholder="Your email" required=" ">
                    <input type="text" name="your subject" placeholder="Your subject" required=" ">
                    <input type="text" name="your phone number" placeholder="Phone number" required=" ">
                    <textarea name="your message" placeholder="Your message" required=" "></textarea>
                    <input type="submit" value="Send message">
                </form> -->
            </div>
        </div>
    </div>
    <!-- <div class="map-w3ls">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22702.22744502486!2d11.113366067229226!3d44.662878362361056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3eca9065c15%3A0x12ec8a03aadae866!2s40019+Sant&#39;Agata+Bolognese+BO%2C+Italy!5e0!3m2!1sen!2sin!4v1451281303075"
            allowfullscreen></iframe>
    </div> -->

    <div class="footer ">
        <div class="container ">
            <div class="col-md-3 footer-grids fgd1 ">
                <a href="index "><img src="{% static 'images/logo2.png' %} " alt=" " />
                    <h3>COLLEGE<span>KART</span></h3>
                </a>
                <ul>
                    <li>IIT BHU</li>
                    <li>India</li>
                    <li><a href="mailto:info@example.com ">director@iitbhu.ac.in</a></li>
                    <a href="https://twitter.com/IITBHU_Varanasi?s=20 "><i class="fa fa-twitter " aria-hidden="true "></i></a>
                    <a href="https://www.instagram.com/iitbhu.varanasi/ "><i class="fa fa-instagram " aria-hidden="true "></i></a>
                    <a href="https://www.facebook.com/Official.IITBHUVaranasi/ "><i class="fa fa-facebook " aria-hidden="true "></i></a>
                    <a href="https://www.linkedin.com/school/iitbhu-varanasi/?originalSubdomain=in "><i class="fa fa-linkedin " aria-hidden="true "></i></a>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd2 ">
                <h4>Information</h4>
                <ul>
                    <li><a href="contact ">Contact Us</a></li>
                    <li><a href="https://iitbhu.campusmall.in/ ">Campus Mall</a></li>
                    <li><a href="https://iitbhu.ac.in/ ">IIT BHU</a></li>
                    <li>
                        <a href="about ">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd3 ">
                <h4>Buy</h4>
                <ul>
                    <li><a href="mobile ">Mobile</a></li>
                    <li><a href="laptop ">Laptops</a></li>
                    <li>
                        <a href="books ">Books</a>
                    </li>
                    <li>
                        <a href="apron ">Apron</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd4 ">
                <h4>My Account</h4>
                <ul>

                    <li><a href="accounts/login ">Login</a></li>
                    <li><a href="accounts/register ">Register</a></li>

                </ul>
            </div>
            <div class="clearfix "></div>
            <p class="copy-right ">© 2020 College Kart. All rights reserved | Design by Kenny | Niranshi </a>
            </p>
        </div>
    </div>

</body>

</html>