 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title> CollegeKart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
    <!--// css -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body>
    <div class="header-top-w3layouts">
        <div class="container">
            <div class="col-md-6 logo-w3">
                <a href="/"><img src="{% static 'images/logo2.png' %}" alt=" " />
                    <h1>COLLEGE<span>KART</span></h1>
                </a>
            </div>
            <div class="col-md-6 phone-w3l">
                <ul>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                    <li>+18045403380</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom-w3ls ">
        <div class="container ">
            <div class="col-md-7 navigation-agileits ">
                <nav class="navbar navbar-default ">
                    <div class="navbar-header nav_2 ">
                        <button type="button " class="navbar-toggle collapsed navbar-toggle1 " data-toggle="collapse " data-target="#bs-megadropdown-tabs ">
						<span class="sr-only ">Toggle navigation</span>
						<span class="icon-bar "></span>
						<span class="icon-bar "></span>
						<span class="icon-bar "></span>
					</button>
                    </div>
                    <div class="collapse navbar-collapse " id="bs-megadropdown-tabs ">
                        <ul class="nav navbar-nav ">
                            <li class=" active "><a href="/" class="hyper "><span>Home</span></a></li>
                            <li class="dropdown ">
                                <a href="# " class="dropdown-toggle hyper " data-toggle="dropdown "><span>Categories<b class="caret "></b></span></a>
                                <ul class="dropdown-menu multi ">
                                    <div class="row ">
                                        <div class="col-sm-4 ">
                                            <ul class="multi-column-dropdown ">

                                                <li><a href="mobile"><i class="fa fa-angle-right " aria-hidden="true "></i>Mobile Phones</a></li>
                                                <li><a href="ed"><i class="fa fa-angle-right " aria-hidden="true "></i>ED kit</a></li>
                                                <li>
                                                    <a href="electronic"> <i class="fa fa-angle-right " aria-hidden="true "></i>Electronic appliances</a>
                                                </li>
                                                <li><a href="vehicle"><i class="fa fa-angle-right " aria-hidden="true "></i>Vehicle</a></li>
                                                <li><a href="laptop"><i class="fa fa-angle-right " aria-hidden="true "></i>Laptops</a></li>
                                            </ul>

                                        </div>
                                        <div class="col-sm-4 ">
                                            <ul class="multi-column-dropdown ">
                                                <li><a href="stationery"><i class="fa fa-angle-right " aria-hidden="true "></i>Stationery</a></li>
                                                <li><a href="apron"><i class="fa fa-angle-right " aria-hidden="true "></i>Apron</a></li>
                                                <li><a href="books"><i class="fa fa-angle-right " aria-hidden="true "></i>Books</a></li>
                                                <li><a href="coolar"><i class="fa fa-angle-right " aria-hidden="true "></i>Coolar</a></li>
                                                <li><a href="others"><i class="fa fa-angle-right " aria-hidden="true "></i>Others</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 w3l ">
                                            <a href="women.html "><img src="{% static 'images/menu1.jpg' %} " class="img-responsive " alt=" "></a>
                                        </div>
                                        <div class="clearfix "></div>
                                    </div>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}

                            <li><a href="sell" class="hyper "><span>Sell</span></a></li>
                            <li><a href="accounts/logout" class="hyper "><span>LogOut</span></a></li>
                            {% else %}

                            <li><a href="accounts/register" class="hyper "><span>Register</span></a></li>
                            <li><a href="accounts/login" class="hyper "><span>Login</span></a></li>
                            {% endif %}

                            <li><a href="about" class="hyper "><span>About</span></a></li>
                            <li><a href="contact" class="hyper "><span>Contact Us</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <script>
                $(document).ready(function() {
                    $(".dropdown ").hover(
                        function() {
                            $('.dropdown-menu', this).stop(true, true).slideDown("fast ");
                            $(this).toggleClass('open');
                        },
                        function() {
                            $('.dropdown-menu', this).stop(true, true).slideUp("fast ");
                            $(this).toggleClass('open');
                        }
                    );
                });
            </script>
            <div class="col-md-4 search-agileinfo">
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Search for a Product..." required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
                </form>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-1 cart-wthree">
                <div class="cart">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="sub-banner my-banner2">
        <img src="static\images\coolarbanner.png" alt="" />
    </div>

    <div class="top-products">
        <div class="container">
            <h3>Coolar</h3>
            <div class="sap_tabs">
                <div id="horizontalTab">
                    {% for dest in dests %}
                    <div class="col-md-3 top-product-grids tp4">
                        <a href="single/{{dest.id}}">
                            <div class="product-img">
                                <img src="{{dest.image.url}} " alt="" /> {% if user.is_authenticated %}
                                <div class="p-mask">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls1_item" value="{{dest.name}}" />
                                        <input type="hidden" name="amount" value="{{dest.price}}" />
                                        <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </a>
                        <h4>{{dest.name}}</h4>
                        <h5>${{dest.price}}</h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w3-display-container w3-center">
            {% if dests.has_other_pages %}
            <ul class="pagination">
                {% if dests.has_previous %}
                <li><a href="?page={{ dests.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %} {% for i in dests.paginator.page_range %} {% if dests.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if dests.has_next %}
                <li><a href="?page={{ dests.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>


    <!--- footer ---------->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grids fgd1">
                <a href="index"><img src="{% static 'images/logo2.png' %}" alt=" " />
                    <h3>COLLEGE<span>KART</span></h3>
                </a>
                <ul>
                    <li>IIT BHU</li>
                    <li>India</li>
                    <li><a href="mailto:info@example.com">director@iitbhu.ac.in</a></li>
                    <a href="https://twitter.com/IITBHU_Varanasi?s=20"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/iitbhu.varanasi/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/Official.IITBHUVaranasi/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/school/iitbhu-varanasi/?originalSubdomain=in"><i class="fa fa-linkedin " aria-hidden="true "></i></a>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd2 ">
                <h4>Information</h4>
                <ul>
                    <li><a href="contact ">Contact Us</a></li>
                    <li><a href="https://iitbhu.campusmall.in/ ">Campus Mall</a></li>
                    <li><a href="https://iitbhu.ac.in/ ">IIT BHU</a></li>
                    <li>
                        <a href="about ">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd3 ">
                <h4>Buy</h4>
                <ul>
                    <li><a href="mobile ">Mobile</a></li>
                    <li><a href="laptop ">Laptops</a></li>
                    <li>
                        <a href="books ">Books</a>
                    </li>
                    <li>
                        <a href="apron ">Apron</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grids fgd4 ">
                <h4>My Account</h4>
                <ul>

                    <li><a href="accounts/login ">Login</a></li>
                    <li><a href="accounts/register ">Register</a></li>

                </ul>
            </div>
            <div class="clearfix "></div>
            <p class="copy-right ">© 2020 College Kart. All rights reserved | Design by Kenny | Niranshi </a>
            </p>
        </div>
    </div>
    <!-- cart-js -->
    <script src="{% static 'js/minicart.js' %} "></script>
    <script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function(evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
</body>

</html>